.container {
    display: grid;
    grid-template-columns: 245px 1fr;
    grid-template-rows: 1fr;
    flex-grow: 3;
}
.messages {
    height: 100%;
    display: grid;
    grid-template-columns: 345px 1px 1fr;
    &__divider {
        width: 1px;
        height: 100%;
        background-color: #525960;
        opacity: 0.3;
    }
}

@media (max-width: 938px) {
    .messages {
        grid-template-columns: 286px 1px 1fr;
    }
}
@media (max-width: 836px) {
    .container {
        grid-template-columns: 219px 1fr;
    }
    .messages {
        grid-template-columns: 276px 1px 1fr;
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .messages {
        grid-template-columns: 1fr;
        grid-template-rows: 152px 1fr;
        &__divider {
            display: none;
        }
        &_active {
            grid-template-rows: 1fr;
        }
    }
}