.nft-orders {
    padding: 0 31px 0 14px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__table {
        width: 990px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 62px 1fr;
    }

    &__head {
        padding: 27px 0 20px 16px;
        display: flex;
        &-title {
            display: none;
            font-family: 'Proxima Nova';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #fcffff;
        }
    }

    &__head-item {
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #fcffff;
        &:nth-child(2) {
            margin-left: 98px;
        }
        &:nth-child(3) {
            margin-left: 296px;
        }
        &:nth-child(4) {
            margin-left: 122px;
        }
        &:nth-child(5) {
            margin-left: 113px;
        }
    }

    &__body {
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    }

    &__body-item {
        padding: 21px 28px 17px 25px;
        display: flex;
        background: #1d1f21;
        border-radius: 14px;
    }

    &__img {
        width: 32px;
        height: 32px;
    }

    &__name {
        margin-left: 19px;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #fcffff;
    }

    &__date-hide {
        display: none;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #c8d2dc;
    }

    &__address,
    &__price-title {
        display: none;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #fcffff;
    }

    &__crypt {
        margin-top: 3px;
        margin-left: 47px;
        padding: 14px 16px 14px 20px;
        width: 310px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #212426;
        border-radius: 13px;
        &-text {
            font-family: 'Proxima Nova';
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #fcffff;
        }
        &-img {
            cursor: pointer;
        }
    }

    &__status {
        margin-left: 30px;
        padding: 4px 22px 15px 22px;
        width: 103px;
        height: 40px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #c5ff98;
        background: rgba(197, 255, 152, 0.1);
        border-radius: 10px;
    }

    &__price {
        margin-top: -2px;
        margin-left: 55px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #fcffff;
    }

    &__date {
        margin-top: -2px;
        margin-left: 76px;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #c8d2dc;
    }

    &__info1,
    &__info2,
    &__info3,
    &__info4,
    &__info5,
    &__info6 {
        display: flex;
        align-items: center;
    }
    &__info6 {
        display: none;
    }

    &__info1 {
        margin-top: -4px;
    }
}

@media (max-width: 1279px) {
    .nft-orders {
        padding: 0 15px;
        &__table {
            width: 100%;
            grid-template-rows: 58px 1fr;
        }
        &__head {
            padding: 0;
            padding-top: 17px;
            &-title {
                display: block;
            }
            &-item {
                display: none;
            }
        }
        &__body {
            &-item {
                padding: 20px 19px 17px 18px;
                width: 345px;
                flex-direction: column;
                background: #2c2f33;
            }
            &-wrapper {
                gap: 10px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        &__info1 {
            padding-bottom: 17px;
            display: grid;
            grid-template-columns: 32px 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0 14px;
        }
        &__img {
            grid-column: 1/2;
            grid-row: 1/3;
        }
        &__name {
            margin-left: 0;
            grid-column: 2/3;
            grid-row: 1/2;
            line-height: 21px;
        }
        &__date-hide {
            display: block;
            grid-column: 2/3;
            grid-row: 2/3;
        }
        &__info2 {
            padding-top: 7px;
            padding-bottom: 9px;
            justify-content: space-between;
            border-top: 1px solid #353d47;
        }
        &__address,
        &__price-title {
            display: block;
        }
        &__crypt {
            margin-left: 0;
            margin-right: 5px;
            padding: 8px 12px 11px 11px;
            width: 148px;
            height: 37px;
            border-radius: 8px;
            &-text {
                width: 100px;
                font-size: 12px;
                line-height: 20px;
                text-overflow: ellipsis;
            }
            &-img {
                margin-top: -4px;
                width: 13px;
                height: 15px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__info4 {
            padding-top: 10px;
            padding-bottom: 16px;
            justify-content: space-between;
            border-top: 1px solid #353d47;
        }
        &__price {
            margin-top: 1px;
        }
        &__info3,
        &__info5 {
            display: none;
        }
        &__info6 {
            display: flex;
            justify-content: space-between;
        }
        &__status {
            margin-left: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 731px) {
    .nft-orders {
        &__body-wrapper {
            align-items: center;
        }
    }
}

@media (max-width: 375px) {
    .nft-orders {
        &__body {
            &-item {
                width: 100%;
            }
        }
    }
}
