.orders {
    padding: 0 10px 0 6px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__table {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 63px 1fr;
    }

    &__head {
        padding: 28px 0 20px 23px;
        display: flex;
        &-title {
            display: none;
            font-family: 'Proxima Nova';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #fcffff;
        }
    }

    &__head-item {
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #fcffff;
        &:nth-child(2),
        &:nth-child(3) {
            margin-left: 21px;
        }
        &:nth-child(4) {
            margin-left: 170px;
        }
        &:nth-child(5) {
            margin-left: 90px;
        }
        &:nth-child(6) {
            margin-left: 100px;
        }
        &:nth-child(7) {
            margin-left: 18px;
        }
        &:nth-child(8) {
            margin-left: 73px;
            margin-right: 91px;
        }
    }

    &__body {
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    &__body-item {
        padding: 23px 28px 31px 23px;
        display: flex;
        background: #1d1f21;
        border-radius: 14px;
        /* &:not(&:first-child) {
            margin-top: 4px;
        } */
    }

    &__type-item {
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #fcffff;
    }

    &__color {
        margin-left: 39px;
        width: 32px;
        height: 32px;
        background: #eb8032;
        border-radius: 50%;
    }

    &__email {
        margin-left: 28px;
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #fcffff;
    }

    &__size {
        margin-left: 16px;
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #fcffff;
        &-text {
            display: none;
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #fcffff;
        }
    }

    &__comment,
    &__address {
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #fcffff;
        &-text {
            margin-bottom: 8px;
            display: none;
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #fcffff;
        }
    }
    &__comment {
        margin-left: 24px;
    }
    &__address {
        margin-left: 18px;
    }

    &__hide-text {
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #fcffff;
        display: none;
    }

    &__show-more {
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #86a8ff;
        text-decoration-line: underline;
    }

    &__status {
        margin-left: 20px;
        padding: 6px 22px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #c5ff98;
        background: rgba(197, 255, 152, 0.1);
        border-radius: 10px;
        &-text {
            display: none;
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #fcffff;
        }
    }

    &__btn {
        margin-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 103px;
        height: 40px;
        background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
        border-radius: 8px;

        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #1d1f21;
        cursor: pointer;
    }
}
.order {
    &__info1,
    &__info2,
    &__info3,
    &__info4,
    &__info5 {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1279px) {
    .orders {
        padding-left: 15px;
        padding-right: 15px;
        &__table {
            width: calc(345px * 2 + 4px);
        }
        &__head {
            padding: 0;
            padding-top: 17px;
            padding-bottom: 9px;
            &-title {
                display: block;
            }
        }
        &__head-item {
            display: none;
        }
        &__body {
            &-wrapper {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        &__body-item {
            padding: 19px 19px 14px 18px;
            width: 345px;
            background: #2c2f33;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 44px 50px 85px 1fr;
        }
        &__type-item {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &__color {
            margin-left: 0;
            grid-column: 1/2;
            grid-row: 1/3;
        }
        &__email {
            margin-left: 0;
            grid-column: 2/3;
            grid-row: 2/3;
            font-weight: 400;
        }
        &__size {
            font-size: 14px;
            line-height: 21px;
            &-text {
                display: block;
            }
        }
        &__status {
            background: transparent;
            position: relative;
            padding: 0;
            overflow: visible;
            &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: #c5ff98;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: -14px;
            }
            &-text {
                display: block;
            }
        }
        &__comment,
        &__address {
            margin-left: 0;
            font-size: 14px;
            line-height: 18px;
            &-text {
                display: block;
            }
        }
        &__hide-text {
            display: inline;
            font-size: 14px;
            line-height: 18px;
        }
        &__show-more {
            display: none;
        }
        &__btn {
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
        }
    }
    .order {
        &__info1 {
            padding-bottom: 17px;
            display: grid;
            grid-template-columns: 32px 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0 14px;
        }
        &__info2 {
            justify-content: space-between;
            border-top: 1px solid #353d47;
        }
        &__info4 {
            grid-row: 3/4;
            justify-content: space-between;
            border-top: 1px solid #353d47;
        }
        &__info3 {
            flex-direction: row-reverse;
            gap: 0 26px;
            border-top: 1px solid #353d47;
        }
    }
}
@media (max-width: 968px) {
    .orders {
        &__table {
        }
        &__body {
            &-wrapper {
                justify-content: center;
                gap: 9px;
            }
        }
    }
}

@media (max-width: 768px) {
    .orders {
        &__body{
            &-wrapper {
                
            }
        }
    }
}

@media (max-width: 731px) {
    .orders {
        &__body {
            &-wrapper {
                justify-content: center;
                gap: 9px;
            }
        }
    }
}
