@import "modules/header";
@import "modules/footer";
@import "modules/fonts";
@import "modules/buttons";
@import "modules/decor";

//-----INIT-STYLES--------------------------------


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(94.78deg, #152832 9.27%, #322c3e 84.06%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
    border-radius: 5px;
}


*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, ol, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    color: #FCFFFF;
}
img {
    width: initial;
    height: initial;
}
html, body {
    position: relative;
    width: 100vw;
}
main {
    position: relative;
    padding-top: 64px;
    min-height: calc(100vh - 108px);
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    @media (max-width: 768px) {
        font-size: 15px;
        line-height: 24px;
    }
}
html {
    overflow-x: hidden;
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: #FCFFFF;
    background: #1D1F21;
    //background: #322c3e;
}
button {
    background: transparent;
    border: transparent;
}

.gradient-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    letter-spacing: 0.1em;
    
    background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 26px;
    }
}

h1 {
    font-size: 64px;
    line-height: 65px;

    @media (max-width: 768px) {
        font-size: 36px;
        line-height: 40px;
    }
}
h2 {
    font-size: 36px;
    line-height: 50px;

    @media (max-width: 768px) {
        font-size: 26px;
        line-height: 34px;
    }
}
h4 {
    font-size: 26px;
    line-height: 34px;
}