@mixin decor-box {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    pointer-events: none;

    & > * {
        position: absolute;
    }
}

.blur-left,
.blur-right {
    position: absolute;
    width: 758px;
    height: 700px;
    opacity: 0.7;
    filter: blur(124.532px);
    z-index: 0;
    top: 50%;
    transform: translateY(-70%);
    pointer-events: none;
    img {
        position: absolute;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
.blur-left {
    left: -403px;
    img {
        &:first-child {
            margin-top: 7px;
            left: 0;
            z-index: 3;
        }
        &:nth-child(2) {
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
        &:last-child {
            margin-top: 47px;
            right: 0;
            z-index: 1;
        }
    }
}
.blur-right {
    right: -235px;
    img {
        &:first-child {
            margin-top: 7px;
            left: 0;
            z-index: 3;
        }
        &:nth-child(2) {
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
        &:last-child {
            margin-top: 47px;
            right: 0;
            z-index: 1;
        }
    }
}

.auction {
    position: relative;
    display: flex;
    justify-content: space-between;

    max-width: 1150px;
    width: 100%;
    padding: 75px 20px 20px;
    margin: 0px auto;

    @media (max-width: 920px) {
        flex-direction: column;
        align-items: center;

        padding: 82px 15px 20px;
    }

    .navigation {
        position: absolute;
        top: 32px;
        left: 20px;
        display: flex;
        gap: 3px;

        font-family: 'Manrope';
        font-size: 14px;
        line-height: 19px;
        color: #C8D2DC;

        @media (max-width: 520px) {
            left: 15px;
        }

        a:hover {
            text-shadow: 0px 0px 10px #68C9FF, 0px 0px 10px #68C9FF;
        }
    }

    &__image {
        position: relative;
        max-width: 538px;
        min-width: 400px;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        background: #86A8FF;
        border-radius: 12px;
        overflow: hidden;

        &_big-circle, &_mid-circle {
            position: absolute;
            border-radius: 50%;
            z-index: 1;
        }

        &_big-circle {
            bottom: -296px;

            width: 713px;
            height: 713px;
            border: 40px solid #2124260e;
        }

        &_mid-circle {
            bottom: -270px;

            width: 572px;
            height: 572px;
            border: 70px solid #2124262e;

            @media (max-width: 768px) {
                bottom: -175px;
                width: 367px;
                height: 367px;
                border: 45px solid #2124262e;
            }
        }

        @media (max-width: 520px) {
            min-width: 0px;
            border-radius: 8px;

            picture {
                img {
                    width: 250px;
                    height: 320px;
                    margin-bottom: -10px;
                }
            }
        }

        picture {
            img {
                width: 391px;
                height: 497px;
                margin-bottom: -10px;
            }

            z-index: 3;
        }
    }

    &__info {
        max-width: 550px;
        width: 100%;

        padding: 9px 0px 0px 10px;

        @media (max-width: 520px) {
            padding: 22px 0px 0px;
        }
    }

    &__about {
    
    }

    &__bid {
        margin-top: 46px;
        @media (max-width: 520px) {
            margin-top: 31px;
        }
    }

    &__decor {
        @include decor-box();
        .decor-1 { top: 51px; left: -41px; width: 46px; height: 62px; }
        .decor-2 { top: 49px; right: 89px; width: 24px; height: 33px; }

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.about-lot {
    width: auto;
    h2 {
        margin-top: -2px;

        @media (max-width: 520px) {
            margin-top: 0px;
        }
    }

    &__box {
        display: flex;

        margin-top: 27px;

        @media (max-width: 768px) {
            flex-direction: column;

            margin-top: 13px;

            & > * {
                max-width: 100%;
                padding: 0px !important;
            }
        }

        & > *:not(:last-child) {
            border-right: 1px solid #525960;
            @media (max-width: 768px) {
                border-right: 0px;
                border-bottom: 1px solid #525960;
            }
        }
    }

    &__size {
        max-width: 126px;
        width: 100%;
        padding-right: 25px;

        @media (max-width: 768px) {
            padding-bottom: 14px !important;
        }
    }

    &__price {
        max-width: 159px;
        width: 100%;
        padding: 0px 23px;

        @media (max-width: 768px) {
            display: flex;

            padding: 20px 0px 13px !important;

            span {
                margin-left: auto;
                font-size: 18px;
                line-height: 24px;
            }
        }

        span {
            font-weight: 700;
            font-size: 22px;
            line-height: 34px;
        }
    }

    &__text {
        max-width: 180px;
        width: 100%;
        padding: 0px 10px 0px 23px;

        @media (max-width: 768px) {
            padding: 18px 0px 0px !important;
        }
    }
}

.lot-bid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 43px 20px;

    background: #212426;
    border-radius: 12px;

    @media (max-width: 520px) {
        padding: 0px 16px 20px;
    }

    &__gradient-head {
        max-width: 403px;
        width: 100%;
        height: 16px;

        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        border-radius: 0px 0px 8px 8px;

        @media (max-width: 520px) {
            height: 10px;
            width: 83%;
        }
    }

    &__highest {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7px;

        @media (max-width: 520px) {
            margin-top: 18px;
        }

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
        }
        h4 {
            margin-top: -5px;
        }
    }

    &__input {
        position: relative;
        padding-top: 27px;
        margin-top: 7px;

        display: flex;
        justify-content: space-between;

        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;

            padding-top: 28px;
            margin-top: 17px;
            & > * {
                max-width: 100% !important;
                width: 100% !important;
            }
        }

        input {
            width: 266px;
            height: 64px;
            padding: 0px 31px;

            background: #2C2F33;
            border-radius: 9px;

            font-family: 'Proxima Nova';
            font-size: 16px;
            line-height: 21px;
            color: #C8D2DC;

            &::placeholder {
                font-family: 'Proxima Nova';
                font-size: 16px;
                line-height: 21px;
                color: #C8D2DC;
            }
            &:focus {
                outline-color: #68C9FF;
            }
            border: 0px solid transparent;
        }
        .button {
            max-width: 177px;
            width: 100%;
        }
        & > span {
            position: absolute;
            top: 0px;
            left: -1px;

            font-size: 14px;
            line-height: 21px;
        }
    }

    &__timer {
        margin-top: 17px;

        @media (max-width: 768px) {
            margin-top: 23px;
        }
    }

    &__text {
        max-width: 345px;
        width: 100%;
        margin-top: 14px;

        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #C8D2DC;

        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 20px;
            padding-top: 16px;

            max-width: 89%;

            border-top: 1px solid #525960;
        }
    }
}

.timer {
    position: relative;
    display: flex;
    gap: 10px;

    padding-bottom: 17px;

    @media (max-width: 768px) {
        padding-bottom: 23px;
    }

    span {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
        white-space: nowrap;

        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
    }

    & > *:not(span) {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;

        @media (max-width: 520px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__day {
        color: #68C9FF;
    }

    &__hour {
        background: linear-gradient(94.78deg, #68C9FF 30%, #D1B5FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__min {
        background: linear-gradient(94.78deg, #68C9FF -30%, #D1B5FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__sec {
        color: #D1B5FF;
    }
}

//------------------------------------------------------------------------------------------------------------------

.auction-info {
    display: flex;
    justify-content: space-between;

    max-width: 1165px;
    width: 100%;
    padding: 0px 13px 57px 20px;
    margin: 0px auto;

    @media (max-width: 920px) {
        flex-direction: column;
        padding: 0px 15px 30px 15px;
    }

    &__slider {
        margin: 0px !important;
    }

//--------------------------------------------------------------------------------

    &__share {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;

        max-width: 345px;
        width: 100%;

        overflow: hidden;

        height: 514px;
        margin-top: 11px;
        margin-left: 15px;
        padding: 32px 27px;

        background: linear-gradient(140.92deg, #6880FF 3.3%, #3CA7F4 52.35%, #8C45FF 92.15%);
        border-radius: 12px;

        @media (max-width: 920px) {
            margin-top: 20px;
            margin-left: 0px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-right: auto !important;

        span {
            font-weight: 700;
            font-size: 26px;
            line-height: 34px;

            margin: 5px 0px 8px;
        }
        p {
            font-size: 15px;
            line-height: 24px;
        }
        & > img {
            width: 24px;
            height: 24px;
        }
    }

    &__social {
        margin-top: 18px !important;
        margin-left: -1px !important;
        display: flex;
        gap: 18px;
    }

    &__diamonds {
        position: relative;
        width: 100%;
        height: 200px;
    }

    &__gradient-circle {
        position: absolute;
        bottom: -256px;
        left: 50%;

        transform: translate(-50%, 0);

        width: 399px;
        height: 399px;

        border-radius: 50%;
        border: 48px solid #68b6ff91;

        & > * {
            position: absolute;
            &:nth-child(1) {
                bottom: 190px;
                left: -80px;
                transform: rotate(25deg);

                img {
                    width: 147px;
                    height: 95px;
                }
            }
            &:nth-child(2) {
                bottom: 162px;
                left: -18px;
                img {
                    width: 340px;
                    height: 340px;
                }
            }
            &:nth-child(3) {
                bottom: 164px;
                right: -57px;
                transform: rotate(-40deg);
                img {
                    width: 134px;
                    height: 94px;
                }
            }
        }
    }
}

.auction-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 738px;
    width: 100%;
    padding: 12px 0px 0px 8px !important;

    @media (max-width: 920px) {
        max-width: 100%;
        padding: 0px !important;
    }

    &__progress {
        max-width: 540px;
        width: 100%;
        height: 5px;
        margin-top: 10px;

        border-radius: 3px;
        background: #212426;

        overflow: hidden;

        @media (max-width: 920px) {
            max-width: 100%;
            margin-top: 3px;
        }

        span {
            display: flex;
            width: 100px;
            height: 100%;
            border-radius: 3px;

            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        }
    }

    &__content {
        margin-top: 20px;
        padding: 31px 21px 20px 30px;
        border-radius: 12px;

        @media (max-width: 920px) {
            padding: 16px 18px 20px 15px;
        }

        background: #1D1F21;
    }

    &__box {
        position: relative;
        height: 497px;
        overflow-y: scroll;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__slide {
        padding: 19px 0px;

        font-size: 16px;
        line-height: 28px;

        @media (max-width: 920px) {
            padding: 7px 1px;

            font-size: 15px;
            line-height: 24px;
        }
    }

    & > p {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #C8D2DC;
    }

    &__gradient-text {
        position: relative;
        padding-left: 14px;
        padding-top: 2px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: normal;

        @media (max-width: 920px) {
            padding-left: 14px;
            padding-top: 2px;
            padding: 0px 70px 0px 16px;

            &::before {
                top: 6px;
                height: 35px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 1px;

            width: 4px;
            height: 28px;
            
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 34px;
        }
    }
}