@import "modules/nft-card";

@mixin decor-box {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    pointer-events: none;

    & > * {
        position: absolute;
    }
}

.main-window {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1150px;
    width: 100%;
    margin: 0 auto;

    padding: 79px 21px 50px 20px;

    @media (max-width: 1000px) {
        flex-direction: column;
        padding: 62px 15px 50px 15px;
    }

    &__text {
        max-width: 450px;
        width: 100%;
        margin-top: -63px;

        z-index: 2;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            max-width: 100%;
            margin-top: 0px;

            h1 {
                max-width: 80%;
                margin-bottom: 9px;
            }
            p {
                line-height: 24px;
            }
        }

        & > h1 {
            margin-bottom: 14px;
        }
        & > p {
            max-width: 270px;
            width: 100%;
            line-height: 28px;
        }
    }

    &__social {
        display: block;
        margin-left: -3px;
        margin-bottom: 19px;
        
        @media (max-width: 1000px) {
            display: none;
        }

        & > *:not(:last-child) {
            margin-right: 18px;
        }
        & > *:hover {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                filter: blur(10px);
                margin-top: -7px;
                z-index: -1;
            }
        }
    }

    &__buttons {
        display: flex;

        gap: 13px;
        margin-top: 40px;

        @media (max-width: 1000px) {
            margin-top: 21px;
            width: 100%;

            .button_opacity {
                max-width: 117px;
                width: 100%;
            }
            img {
                width: 18px;
                height: 18px;
                margin-right: 8px;
            }
        }

        img {
            margin-right: 8px;
        }
        .button_opacity {
            max-width: 145px;
            width: 100%;
        }
    }

    &__image {
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 75px;
        }
    }

    &__gradient-box {
        position: relative;
        width: 460px;
        height: 633px;
        background: linear-gradient(110deg, #D1B5FF 9.27%, #68C9FF 84.06%);
        border-radius: 24px;

        @media (max-width: 1000px) {
            width: 100%;
            height: 306px;
        }

        & > * {
            position: absolute;
        }
        & > *:first-child {
            bottom: -49px;
            right: -48px;
            img {
                width: 769px;
                height: 691px;
            }

            @media (max-width: 1000px) {
                bottom: -32px;
                right: -105px;
                img {
                    width: 460px;
                    height: 412px;
                }
            }
        }
        & > *:last-child {
            right: 464px;
            bottom: 76px;
            img {
                width: 222px;
                height: 347px;
            }

            @media (max-width: 1000px) {
                bottom: 46px;
                right: 205px;
                img {
                    width: 127px;
                    height: 200px;
                }
            }
        }
    }

    &__decor {
        @include decor-box();

        .decor-1 { top: 49px; right: 25px; width: 10px; height: 10px; }
        .decor-2 { top: 228px; right: 44.2%; width: 25px; height: 25px; }
        .decor-3 { top: 59px; right: 44.5%; width: 46px; height: 62px; }
        .decor-4 { bottom: 174px; left: 42.4%; width: 36px; height: 48px; }
        .decor-5 { top: 17px; left: -162px; }
        .decor-6 { bottom: 50px; left: 29.3%; }

        @media (max-width: 1000px) {
            .decor-3 { display: none; }
        }
        @media (max-width: 768px) {
            .decor-1 { display: none; }
            .decor-2 { top: 398px; left: 28%; }
            .decor-4 { bottom: 357px; left: 0.4%; width: 27px; height: 42px; }
            .decor-5 { top: 6px; left: 187px; }
            .decor-6 { bottom: 150px; left: 10%; }
        }

    }
}

//------------------------------------------------------------------------------------------------------

.biography {
    position: relative;
    margin: 0px auto;
    max-width: 1110px;
    padding: 40px 21px 50px 20px;

    display: grid;
    grid-template-columns: 520px 1fr;
    grid-template-rows: auto;
    gap: 0px;

    @media (max-width: 1200px) {
        padding: 40px 21px 50px 30px;
        grid-template-columns: 470px 1fr;
    }
    @media (max-width: 1000px) {
        padding: 11px 15px 0px 15px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    &__image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;

        img {
            width: 445px;
            height: 570px;
        }

        @media (max-width: 1000px) {
            grid-row-start: 2;
            grid-row-end: 3;

            img {
                width: 254px;
                height: 326px;
            }

            margin-bottom: 20px;
        }
    }

    &__title {
        grid-row-start: 1;
        grid-row-end: 2;

        margin-top: 44px;

        h2 {
            margin-top: -1px;
        }

        @media (max-width: 1100px) {
            margin-top: 0px;

            h2 {
                margin-top: 0px;
            }
        }
    }

    &__info {
        grid-row-start: 2;
        grid-row-end: 4;

        margin-top: 16px;

        @media (max-width: 1000px) {
            grid-row-start: 3;
            grid-row-end: 4;

            margin-top: 53px;
        }
    }


    &__gradient-box {
        width: 449px;
        height: 590px;

        background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
        border-radius: 24px;
        transform: rotate(-3.86deg) translate(-14px, 11px);

        @media (max-width: 1000px) {
            width: 256px;
            height: 337px;

            transform: rotate(-3.86deg) translate(14px, 29px);

            img {
                transform: rotate(7deg) translate(32px, 11px);
                border-radius: 23px;
            }
        }

        img {
            transform: rotate(3.86deg) translate(25px, 15px);
        }
    }

    &__history {
        margin-top: 40px;

        @media (max-width: 1000px) {
            display: flex;
            justify-content: space-between;

            margin-top: 32px;
        }
    }

    &__decor {
        @include decor-box();
        
        .decor-1 { bottom: 297px; left: -5.7%; width: 25px; height: 25px; }
        .decor-2 { top: 192px; left: -8%; width: 46px; height: 62px; }
    }
}

.story-bio {
    display: flex;
    gap: 35px;

    @media (max-width: 768px) {
        gap: 10px;

        p {
            margin-top: 13px;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__item {
        max-width: 155px;
        width: 100%;
    }
    p {
        margin-top: 11px;
        font-weight: 600;
    }

    &__year {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 32px;

        @media (max-width: 768px) {
            height: 29px;
        }

        &_green {
            color: #C5FF98;
            background: rgba(197, 255, 152, 0.1);
            border-radius: 10px;
        }
    }
}

//--------------------------------------------------------------------------------------------

.premium {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1140px;
    width: 100%;
    height: 446px;
    margin: 42px auto 0px;
    
    background: linear-gradient(150deg, #6880FF 9.27%, #3CA7F4 50.77%, #8C45FF 84.06%);
    border-radius: 24px;
    overflow: hidden;

    @media (max-width: 768px) {
        flex-direction: column;

        max-width: 92%;
        height: 514px;
        margin: 6px auto 0px;

        padding: 32px 26px;
    }

    &__text {
        max-width: 440px;
        width: 100%;
        margin-left: 110px;

        @media (max-width: 768px) {
            margin-left: 0px;

            img {
                width: 24px;
                height: 24px;
                margin-bottom: 0px;
            }
            h2 {
                margin-top: -4px;
            }
            p {
                margin: 9px 0px 23px;
            }
            .button {
                max-width: 135px;
            }
        }

        img {
            margin-bottom: 2px;
        }
        p {
            margin: 13px 0px 11px;
        }
        .button {
            max-width: 167px;
            width: 100%;
        }
    }

    &__diamonds {
        width: 400px;
    }

    &__gradient-circle {
        position: absolute;
        //top: 13px;
        bottom: -13px;
        left: 53px;
        width: 512px;
        height: 512px;

        position: relative;
        border: 64px solid #ffffff4a;
        border-radius: 50%;

        @media (max-width: 768px) {
            bottom: -65px;
            left: 0px;

            width: 399px;
            height: 399px;

            border: 48px solid #ffffff4a;
        }

        & > * {
            position: absolute;
            &:nth-child(1) {
                top: -68px;
                left: -152px;
                transform: rotate(-10.5deg);

                img {
                    width: 180px;
                    height: 122px;   
                }

                @media (max-width: 768px) {
                    top: 5px;
                    left: -84px;
                    transform: rotate(24deg);

                    img {
                        width: 147px;
                        height: 95px;   
                    }
                }
            }
            &:nth-child(2) {
                top: 17%;
                left: -148px;
                transform: rotate(8.04deg);

                img {
                    width: 332px;
                    height: 240px;   
                }

                @media (max-width: 768px) {
                    top: -28.5%;
                    left: 48px;
                    transform: rotate(0deg);

                    img {
                        width: 207px;
                        height: 149px;
                    }
                }
            }
            &:nth-child(3) {
                bottom: -53px;
                left: 45px;
                transform: rotate(-44.21deg);

                img {
                    width: 251px;
                    height: 184px;     
                }

                @media (max-width: 768px) {
                    bottom: 163px;
                    left: 223px;
                    transform: rotate(-44.21deg);

                    img {
                        width: 134px;
                        height: 94px;   
                    }
                }
            }
        }
    }
}

//---------------------------------------------------------------------------------------------

.nft-slider {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;

    margin-top: 12px;
    
    overflow: visible !important;
    z-index: 3;

    .swiper-wrapper {
        width: 100%;
    }
    .swiper-slide {
        width: auto;
        transition: transform 0.5s ease 0s;
    }
    .swiper-slide-active {
        transform: translate(0px, -31px);
    }
}