@import 'block/school/promo';
@import 'block/school/benefit';
@import 'block/school/fees';
@import 'block/school/register';

.blur1 {
    width: 758px;
    height: 700px;
    position: absolute;
    top: 1197px;
    left: -555px;
    opacity: 0.7;
    z-index: -2;
    filter: blur(124.532px);
    svg {
        position: absolute;
        &:first-child {
            margin-top: 7px;
            left: 0;
            z-index: 0;
        }
        &:nth-child(2) {
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }
        &:last-child {
            margin-top: 47px;
            right: 0;
            z-index: 0;
        }
    }

    @media (max-width: 425px) {
        top: 246px;
        left: auto;
        right: -91px;
    }
}