@import 'modules/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    height: 100vh;
    background-color: #1d1f21;
    position: relative;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding-left: 0;
}

@import 'block/personal-cabinet/header';
@import 'block/personal-cabinet/container';
@import 'block/personal-cabinet/aside';
@import 'block/personal-cabinet/chat';
@import 'block/personal-cabinet/main';
@import 'block/personal-cabinet/orders';