.order {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
        text-align: center;
        background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__subtitle {
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        color: #fcffff;
        text-align: center;
    }

    &__form {
        margin-top: 6px;
        width: min(100%, 410px);
    }

    &__label {
        margin-top: 26px;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #c8d2dc;
        &_mod {
            margin-top: 23px;
        }
    }

    &__select {
        margin-top: 7px;
        padding: 20px;
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background: #212426;
        border-radius: 9px;
    }

    &__selected {
        padding-left: 12px;
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #fcffff;
    }

    &__select-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #212426;
        border-radius: 9px;
        display: none;
        &_active {
            display: none;
        }
    }

    &__select-item {
        padding: 20px 0 20px 32px;
        width: 100%;
        height: 64px;
        border: 1px solid #212426;
        border-radius: 9px;
        transition: all 0.2s;
        font-family: 'Proxima Nova';
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #fcffff;
        cursor: pointer;
        &:hover {
            border: 1px solid #525960;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__select-color {
        margin-top: 6px;
        display: flex;
    }
    &__color {
        margin-left: -14px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 4px solid #1d1f21;
        cursor: pointer;
        &_red {
            background: #ca3838;
        }
        &_orange {
            background: #eb8032;
        }
        &_yellow {
            background: #ffda57;
        }
        &_green {
            background: #79ce60;
        }
        &_light-green {
            background: #60ceb4;
        }
        &_light-blue {
            background: #41d4f4;
        }
        &_blue {
            background: #4153f4;
        }
        &_purple {
            background: #6541f4;
        }
        &_light-purple {
            background: #b041f4;
        }
        &_pink {
            background: #c45297;
        }
        &_burgundy {
            background: #a14051;
        }
        &_white {
            background: #ffffff;
        }
        &_gray {
            background: #cfcfcf;
        }
        &_brown {
            background: #4a3221;
        }
        &_black {
            background: #000000;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &__textarea {
        margin-top: 7px;
        padding-top: 21px;
        padding-left: 32px;
        width: 100%;
        height: 182px;
        background: #212426;
        border-radius: 9px;
        resize: none;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #C8D2DC;
    }
    &__btn {
        margin-top: 5px;
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1d1f21;
        cursor: pointer;
    }
    &__checkbox {
        margin-top: 14px;
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked + .contact__checkbox-label::before {
                background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
            }
        }
        label {
            padding-left: 30px;
            position: relative;
            font-family: 'Proxima Nova';
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #c8d2dc;
            cursor: pointer;
            a {
                margin-left: 5px;
                margin-right: 5px;
                font-weight: 600;
                text-decoration-line: underline;
                color: #86a8ff;
            }
            &::before {
                content: '';
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                outline: 1px solid #525960;
                border: 2px solid #212426;
                border-radius: 7px;
                position: absolute;
            }
        }
    }

    &__diamond1 {
        position: absolute;
        top: 128px;
        left: 148px;
        z-index: -1;
    }

    &__diamond2 {
        position: absolute;
        top: 202px;
        left: -163px;
        z-index: -1;
    }

    &__diamond3 {
        position: absolute;
        top: 526px;
        left: 215px;
        z-index: -1;
    }

    &__cub {
        position: absolute;
        top: 30px;
        right: -251px;
        z-index: -1;
    }
}

@media (max-width: 620px) {
    .order {
        &__title {
            font-size: 14px;
            line-height: 26px;
        }
        &__subtitle {
            width: 306px;
            font-size: 26px;
            line-height: 34px;
            text-align: left;
        }
        &__form {
            margin-top: 0;
        }
        &__comment {
            height: 182px !important;
        }
        &__btn {
            margin-top: 16px;
        }
        &__diamond1 {
            left: 307px;
            top: 30px;
            width: 94.39px;
            height: 94.39px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__diamond2 {
            display: none;
        }
        &__diamond3 {
            display: none;
        }
        &__cub {
            display: none;
        }
    }
}
@media (max-width: 425px) {
    .order {
        padding: 58px 15px 35px;
        align-items: flex-start;
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__select-color {
            flex-wrap: wrap;
        }
        &__color {
            &_burgundy {
                margin-right: 45px;
            }
            &_white {
                margin-left: 0;
            }
        }
    }
}