.promo {
    padding: 238px 167px 105px;
    position: relative;
    overflow: hidden;

    &__title {
        width: 455px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 64px;
        line-height: 65px;
        color: #fcffff;
    }

    &__subtitle {
        margin-top: 16px;
        width: 271px;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #fcffff;
    }

    &__link {
        margin-top: 40px;
        padding: 18px 22px 19px;
        width: 209px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        transition: 0.15s ease 0s;

        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1d1f21;
    }

    &__back-text1,
    &__back-text2 {
        position: absolute;
        z-index: -1;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 80px;
        line-height: 97px;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #4a4c4d;
    }
    &__back-text1 {
        top: 143px;
        left: -103px;
    }
    &__back-text2 {
        bottom: -21px;
        right: 375px;
    }
    &__img {
        position: absolute;
        top: 126px;
        right: 155px;
        z-index: 1;
    }
    &__img-bg {
        position: absolute;
        top: 87px;
        right: 220px;
        z-index: 1;
        width: 561px;
        height: 561px;
    }
    &__img-bg2 {
        position: absolute;
        display: none;
    }
    &__star1,
    &__star2 {
        position: absolute;
    }
    &__star1 {
        top: 305px;
        right: 95px;
    }
    &__star2 {
        top: 439px;
        right: 738px;
    }
    &__circle {
        position: absolute;
        top: 540px;
        right: 771px;
        width: 25px;
        height: 25px;
        opacity: 0.4;
        border-radius: 50%;
        border: 1px solid #fcffff;
    }
}

@media (max-width: 1356px) {
    .promo {
        padding-left: 107px;
        &__img {
            right: 88px;
        }
        &__img-bg {
            right: 129px;
        }
        &__star1 {
            right: 6px;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        &__back-text2 {
            right: -76px;
        }

        &__img-bg {
            display: none;
        }

        &__img-bg2 {
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }

        &__img {
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            width: 309px;
            height: 309px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__star1 {
            top: 75px;
            right: 3px;
        }

        &__star2 {
            top: 378px;
            left: -5px;
        }
    }
}

@media (max-width: 920px) {
    .promo {
        padding: 131px 67px 249px;

        &__title {
            width: 254px;
            font-size: 36px;
            line-height: 40px;
        }

        &__subtitle {
            margin-top: 8px;
            font-size: 15px;
            line-height: 24px;
        }

        &__link {
            padding: 16px 28px 19px;
            margin-top: 23px;
            width: 193px;
            height: 52px;
            font-size: 15px;
            line-height: 26px;
            border-radius: 12px;
            svg {
                width: 18px;
                height: 18px;
            }
        }

        &__back-text1 {
            top: 70px;
            left: -147px;
            width: 542px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 620px) {
    .promo {
        padding: 125px 15px 395px;

        &__back-text1 {
            display: none;
        }

        &__back-text2 {
            left: 81px;
            top: 69px;
            width: 430px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }

        &__img-bg {
            display: none;
        }

        &__img-bg2 {
            display: block;
            top: 431px;
            right: 20px;
            transform: translate(0);
            z-index: 1;
        }

        &__img {
            top: 454px;
            transform: translate(0);
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__star1 {
            width: 30px;
            height: 41px;
            top: 404px;
            right: auto;
            left: 9px;
            transform: rotate(16.11deg);
            svg {
                width: 100%;
                height: 100px;
            }
        }

        &__star2 {
            top: 399px;
            left: auto;
            right: 43px;
            width: 36px;
            height: 48px;
            transform: rotate(-11.82deg);
            z-index: 0;
            svg {
                width: 100%;
                height: 100px;
            }
        }
    }
}

@media (max-width: 374px) {
    .promo {
        &__img-bg2 {
            right: 0;
        }
    }
}
