.promo {
    padding: 238px 167px 232px;
    position: relative;

    &__title {
        width: 432px;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 64px;
        line-height: 65px;
        color: #fcffff;
    }

    &__subtitle {
        margin-top: 16px;
        width: 271px;
        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #fcffff;
    }

    &__link {
        margin-top: 40px;
        width: 209px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        transition: 0.15s ease 0s;

        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1d1f21;
    }

    &__back-text1,
    &__back-text2 {
        position: absolute;
        z-index: -1;
        font-family: 'Proxima Nova';
        font-weight: 700;
        font-size: 80px;
        line-height: 97px;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #4a4c4d;
    }
    &__back-text1 {
        top: 143px;
        left: -103px;
    }
    &__back-text2 {
        bottom: 40px;
        left: 376px;
    }
    &__img {
        position: absolute;
        top: 163px;
        right: 171px;
        z-index: 1;
    }
    &__img-bg {
        position: absolute;
        top: 87px;
        right: 213px;
        z-index: 1;
        width: 561px;
        height: 561px;
    }
    &__img-bg2 {
        position: absolute;
        display: none;
    }
    &__star1,
    &__star2 {
        position: absolute;
    }
    &__star1 {
        top: 305px;
        right: 88px;
    }
    &__star2 {
        top: 439px;
        right: 731px;
    }
}

@media (max-width: 768px) {
    .promo {
        padding: 131px 15px 549px;

        &__title {
            width: 254px;
            font-size: 36px;
            line-height: 40px;
        }

        &__subtitle {
            margin-top: 8px;
            font-size: 15px;
            line-height: 24px;
        }

        &__link {
            margin-top: 24px;
            width: 193px;
            height: 52px;
            font-size: 15px;
            line-height: 26px;
        }

        &__back-text1 {
            top: 70px;
            left: -147px;
            width: 542px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }

        &__back-text2 {
            top: 748px;
            left: 26px;
            width: 430px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }

        &__img-bg {
            display: none;
        }

        &__img-bg2 {
            display: block;
            top: 397px;
            right: 10px;
        }

        &__img {
            top: 444px;
            right: -33px;
            width: 425px;
            height: 268px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__star1 {
            top: 365px;
            right: 3px;
        }

        &__star2 {
            top: 578px;
            left: -5px;
        }
    }
}
@media (max-width: 425px) {
    .promo {
        padding: 131px 15px 549px;

        &__title {
            width: 254px;
            font-size: 36px;
            line-height: 40px;
        }

        &__subtitle {
            margin-top: 8px;
            font-size: 15px;
            line-height: 24px;
        }

        &__link {
            margin-top: 24px;
            width: 193px;
            height: 52px;
            font-size: 15px;
            line-height: 26px;
        }

        &__back-text1 {
            top: 70px;
            left: -147px;
            width: 542px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }

        &__back-text2 {
            top: 748px;
            left: 26px;
            width: 430px;
            height: 61px;
            font-size: 50px;
            line-height: 61px;
        }

        &__img-bg {
            display: none;
        }

        &__img-bg2 {
            display: block;
            top: 397px;
            right: 10px;
        }

        &__img {
            top: 444px;
            right: -33px;
            width: 425px;
            height: 268px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__star1 {
            top: 365px;
            right: 3px;
        }

        &__star2 {
            top: 578px;
            left: -5px;
        }
    }
}
