.nft-card {
    
    max-width: 350px;
    width: 100%;
    padding: 17px 20px;

    border-radius: 12px;

    background: #212426;

    &__head {
    }

    &__image {

        &_big-circle {
        }

        &_mid-circle {
        }
    }

    &__text {
    }

    &__price {
    }
}